<div class="container">
  <div class="row clearfix">
    <div class="col-md-3 column">

      <% if current_user.present? %>

          <% if current_user.icon.present? %>
              <%= image_tag current_user.icon, width: 50, height: 50, :class => "img-rounded" %>

          <% else %>
              <%= image_tag 'http://ks.c.yimg.jp/res/chie-0/309/267/i1/img.PNG', width: 50, height: 50, :class => "img-rounded" %>

          <% end %>

          <%= current_user.name + "@" + current_user.account %><br/>

          <div id="tweetcount">tweet : <%= @user.tweets.count %></div>


      <% end %>
    </div>


    <div class="col-md-6 column">

      <% if signed_in? %>
          <%= form_for(@tweet, remote: true) do |f| %>

              <% if @tweet.errors.any? %>
                  <%= @tweet.errors.messages[:content][0] %>

              <% end %>

              <br>

              <p id="howru">いまどうしてる？</p>
              <%= f.text_area :content, :id => "textarea" %>
              <span id="lettercount">140</span>
              <%= f.submit 'ツイート', :id => "tweetbutton" %>

          <% end %>
      <% end %>

      <br/>

      <div id="tweets">
        <%= render :partial => "tweets" %>
      </div>


    </div>
    <div class="col-md-3 column">
      <h4>他のユーザー</h4>

      <% if @others.present? %>
          <% @others.each do |other| %>
              <% if other.icon.present? %>
                  <%= image_tag other.icon, width: 40, height: 40, :class => "img-rounded" %>
              <% else %>
                  <%= image_tag 'http://ks.c.yimg.jp/res/chie-0/309/267/i1/img.PNG', width: 40, height: 40, :class => "img-rounded" %>
              <% end %>

              <%= other.name %>
              @<%= other.account %>
              <br/><br/>
          <% end %>
      <% end %>
    </div>
  </div>
</div>

