<br>

<p><%= render 'form' %></p>

<br>


<% @tweets.reverse_order.each do |tweet| %>
    <tr>
      <% if tweet.user.icon.present? %>
          <td class="icon"><%= image_tag tweet.user.icon, width: 40, height: 40 %></td>
      <% else %>
          <td class="icon"><%= image_tag 'http://ks.c.yimg.jp/res/chie-0/309/267/i1/img.PNG', width: 40, height: 40 %></td>
      <% end %>

      <td class="name"><%= tweet.user.name %></td>
      <td class="account">@<%= tweet.user.account %></td>
      <br/>
      <td class="content"><%= tweet.content %></td>
      <br/>
      <td class="created_at"><%= tweet.created_at.in_time_zone("Asia/Tokyo").strftime("%Y/%m/%d %H:%M:%S") %></td>
      <% if signed_in? && current_user == tweet.user %>
          <td class="destroy"><%= link_to (image_tag "dustbox.png"), tweet, method: :delete, data: {confirm: 'ok?'} %></td>
          <br/><br/>
      <% end %>
    </tr>
<% end %>